*.DS_Store
EmailAnalysis/EmailAnalysis.iml
EmailAnalysis/.idea/
EmailAnalysis/target/
EmailAnalysis/false_negatives.txt
EmailAnalysis/false_positives.txt
EmailAnalysis/test.cache
EmailAnalysis/train.cache
EmailAnalysis/vw.model.readable
model/
scrape.db
scrape.db.leopmartel
test.cache
test_data/
training_data/
vowpal_wabbit-master/
vw_data/
wiserf_data/